@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}
.bg{
    background: no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-txt{
    font-size: 50px;
    color: #fff;
}